services:
  ice-cream-world-backend:
    container_name: ice-cream-world-backend
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__DefaultConnection=${POSTGRES_DB_UR}
    ports:
      - 7001:80
    networks:
      - ice-cream-world-backend-network
    depends_on:
      - ice-cream-world-backend-db
  ice-cream-world-backend-db:
    image: postgres:16
    container_name: ice-cream-world-backend-db
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ice-cream-world-backend-db:/var/lib/postgresql/data
    networks:
      - ice-cream-world-backend-network

volumes:
  ice-cream-world-backend-db:

networks:
  ice-cream-world-backend-network:
    driver: bridge
